nav {
    
}

#nav-bar {
    position: fixed;
    top: 0;
    bottom: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    height: 80px;
    background-color: #00a087;
    color: #e8fdff; 
    display: flex; 
    align-items: center;
}

#nav-bar .logo {
    height: 80px;
    width: 80px;
    float: left;
   
}

#nav-bar .header {
    float: left;
    padding-left: 10px;
    font-size: 2em;
   }



