#nav-bar {
  background-color: #1a237e;
  color: #e8eaf6;
  left: 0;
  height: 80px;
  padding: 0 2em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
#nav-bar .logo {
  color: #FF1493;
  float: left;
  font-size: 3em;
  line-height: 1.8;
}
#nav-bar .header {
  float: left;
  font-size: 2em;
  line-height: 2.5;
  position: absolute;
  margin: 0 0 0 10px;
}
#nav-bar button {
  background-color:#BA55D3;
  border: 1px solid #ffffff;
  border-radius: 8px;
  color: #ffffff;
  height: 50%;
  position: absolute;
  opacity: 0.7;
  right: 10px;
  top: 25%;
}
#nav-bar button:hover {
  opacity: 1.0;
}