#nav-bar {
  background-color: #00a087;
  color: #e8fdff;
  left: 0;
  height: 80px;
  padding: 0 2em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
}
#nav-bar .header {
  float: left;
  font-size: 2em;
  line-height: 2.5;
  position: absolute;
  margin: 0 0 0 10px;
}
#nav-bar button {
  border-radius: 2%;
  height: 50%;
  position: absolute;
  opacity: 0.7;
  right: 10px;
  top: 25%;
}
#nav-bar button:hover {
  opacity: 1.0;
}