section.new-tweet {
  background-color: #eee;
  border-radius: 1em;
  border: solid 1px;
  margin: 2em;
  padding: 1em;
}
.new-tweet h2 {
  border-bottom: 2px solid grey;
  font-weight:700;
  margin:0; 
}
.new-tweet textarea {
  margin: 1em 0 0 0;
  padding:2%;
  width:100%;
}
.new-tweet .counter {
  float: right;
}
.red {
  color: red;
}